# frozen_string_literal: true

# Pagy initializer file
# See https://ddnexus.github.io/pagy/resources/initializer/

# Default items per page
Pagy::OPTIONS[:limit] = 25

# When you are done setting your own default freeze it
Pagy::OPTIONS.freeze
