# frozen_string_literal: true

namespace :spec do
  desc "Run specs in parallel, isolating system specs"
  task parallel: :environment do
    ENV["PARALLEL_TEST_FIRST_IS_1"] ||= "true"
    parallel_tasks = ENV.fetch("PARALLEL_TEST_PROCESSORS", 3).to_s
    isolate_tasks = ENV.fetch("ISOLATE_SPEC_TASKS", 1).to_s
    test_options = ENV.fetch("PARALLEL_SPEC_OPTIONS", nil)
    raise ArgumentError, "PARALLEL_TEST_PROCESSORS must be a positive integer" if parallel_tasks.to_i <= 0

    options = "--isolate --single spec/system/ --isolate-n #{isolate_tasks}"
    options << " --test-options=\"#{test_options}\"" if test_options
    Rake::Task["parallel:create"].invoke(parallel_tasks)
    Rake::Task["parallel:load_schema"].invoke(parallel_tasks)
    Rake::Task["parallel:spec"].invoke(parallel_tasks, nil, nil, options)
  end
end
