# frozen_string_literal: true

class PwaController < ApplicationController
  skip_forgery_protection

  def manifest
    render template: "pwa/manifest", layout: false
  end

  def service_worker
    render template: "pwa/service-worker", layout: false
  end

  def offline
    render template: "pwa/offline", layout: false
  end
end